@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {

    font-size: 20px;
    font-family: 'Black Han Sans', arial, sans-serif;
    background-color: antiquewhite;
    padding: 0;
    height: 100%;
    margin: 0;
    overflow: hidden;
    
}

#line {

    background-color: rgb(61, 26, 10);
    height: 2px;
    width: 100%;
    border-radius: 1px;
    border: 0px;
}

div {

    display: flex;    
    height: 50px;
    width: 50px;
    background: lightgoldenrodyellow;
    border: solid 5px 0px 0px 5px burlywood;
    border-radius: 5px;

}

#nametab {

    float: left;
    position: flex; 
    width: 300px;
    height: 50px;
    padding: 20px;
    margin: 50px 0px 0px 130px;
    text-align: center;
    font-size: 400%;
    font-weight: bolder;
    color: black;
    background: lightyellow;
    border: solid 3px rgb(43, 61, 10);
    border-radius: 3px;
    z-index: 99;

}

a {

    color: black;
    font-weight: bold;

}

header {

    background: url(https://us.123rf.com/450wm/sunnytoys/sunnytoys1703/sunnytoys170300057/73110820-strong-emerald-green-brick-wall-with-cracked-parts-and-white-spots-as-background-colorful-brick-wall.jpg?ver=6);
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 12px;

}

.transfer {

    display: inline-flex;
    justify-content: space-around;
    width: 500px;
    height: 50px;
    float: right;
    padding: 20px;
    margin-top: 50px;
    margin-right: 35px;
    font-size: 35px;
    font-weight: 600;
    background: lightyellow;
    border: solid 3px rgb(43, 61, 10);
    border-radius: 5px;
    color: black;

}

.switch:hover {

    color: darkgreen;
    font-weight: 800;

}


#about {

    display: block;

}

h1 {

    padding: 0;
    font-size: 40px;
    margin-left: 40px;
    font-weight: bolder;
    color: black;

}

#me {

    color: antiquewhite;
    font-display: bolder;
    font-size: 25px;
    margin-left: 40px;
    font-weight: 300;

}


article {

    border: 1px;
    width: 100%;
    margin: 10px;

}

img {

    float: left;
    margin: 25px;
    padding: 10px;
    background-color: rgb(6, 48, 32);
    border-radius: 5px;
    border: solid 3px rgb(43, 61, 10);
        
}

p {

    float: left;
    font-style: oblique;
    font-weight: 500;
    
}

.grid2 {

    display: inline-block;
    
    

}

.grid2:hover {

    border: solid 3px lightgreen;

}

section {

    display: flex;
    justify-content: space-around;
    margin: 0px 30px 30px 30px;

}

#submit {

    background-color: rgb(6, 48, 32);
    border-radius: 5px;
    border: solid 3px rgb(43, 61, 10);
    color: antiquewhite;
    margin-right: 255px;
    margin-left: 255px;
    font-size: 15px;
    font-weight: 500;

}

#submit:hover {

    background-color: green;

}


form {

    width: 75%;
    background: rgb(22, 138, 37);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 40px;
    text-emphasis: bolder;

}

form input, textarea {

    border: 0;
    margin: 10px;
    background-color: lightyellow;
    border: solid 3px rgb(43, 61, 10);
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;

}


aside {

  float: right;
  margin-right: 25px;
  width: 50%;
  padding: 20px;
  margin: 10px;

}

footer {
    
    display: flex;
    height: 200px;
    padding: 20px;
    clear: both;
    background: url(https://us.123rf.com/450wm/sunnytoys/sunnytoys1703/sunnytoys170300057/73110820-strong-emerald-green-brick-wall-with-cracked-parts-and-white-spots-as-background-colorful-brick-wall.jpg?ver=6);

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

    